{% extends 'global/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="hero" class="py-5">
        <div class="container-lg text-center text-white">
            <h1 class="mb-3 hero-text">MomoPerformances</h1>
            <p class="h3 hero-text">Votre partenaire en reprogrammation moteur</p>
        </div>
    </section>

    <section id="presentation">
        <div class="text-content container-lg text-white text-center py-5">
            <h2 class="mb-5">Faites confiance à MomoPerformances pour une expérience de conduite incomparable et des performances optimales.</h2>
            <p>Bienvenue chez MomoPerformances, l'expert incontournable en reprogrammation moteur. Spécialistes dans
                l'optimisation de la performance des véhicules, nous modifions les paramètres des puces de moteurs pour
                maximiser la puissance, l'efficacité énergétique et la durabilité de votre véhicule.</p>
            <p>Grâce à notre expertise et à notre savoir-faire, nous analysons et reprogrammons les fichiers de
                paramétrage des moteurs, garantissant des résultats exceptionnels et personnalisés pour chaque client.
                Que vous cherchiez à améliorer les performances de votre voiture de sport, de votre véhicule utilitaire
                ou de votre camion, MomoPerformances s'engage à vous fournir un service sur mesure et de haute
                qualité.</p>
            <p>Notre mission est de repousser les limites de votre moteur tout en respectant les normes
                environnementales et de sécurité.</p>
        </div>
    </section>

{% endblock %}
