{% extends 'global/base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>#}
    <script src="{{ asset('javascript/uploadTable.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="upload">
        <div class="container-lg py-5 text-white">
            {% if hasArchive %}
                {% include 'main/uploadComponent/pending.html.twig' %}
            {% else %}
                {% include 'main/uploadComponent/uploadForm.html.twig' %}
            {% endif %}
        </div>
    </section>
{% endblock %}
