{% extends 'global/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}">
{% endblock %}

{% block body %}
    <section id="admin-index">
        <div class="container-lg py-5 text-white">
            <h1>Modification des utilisateurs</h1>
            <div class="d-grid gap-5 justify-content-center mt-5 container-lg">
                <div class="row">
                    {% for user in users %}
                    <div class="col mb-5 mb-md-0">
                        <div class="admin-item" {% if user.hasAvatar %}style="background-image: url('/upload/avatar/{{ user.id }}.jpg');"{% endif %}>
                            <a href="{{ path('edit_user', {id : user.id}) }}">Editer {{ user.username }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
